<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">JOT DOWN YOUR IDEAS FOR NEXT YOUTUBE VIDEOS</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">ADD VIDEO IDEA</a>
</div>